<!DOCTYPE html>
<html>
  <head>
    <title>Kween Elana</title>
  </head>
  <body>
    <h1><center>Kween Elana</center></h1>
    <br>
    <h1>About Me</h1>
    <h2></h2>
    <br>
    <br>
    <h1>What's your favorite part of KWK?</h1>
    <h2> My favorite thing about KWK is how all the girls are so close with each other and all support everyone's ideas. </h2>
    <br>
    <br>
    <h1>Which parent are you more alike?</h1>
    <h2> I am equally like both of my parents</h2>
    <br>
    <br>
    <h1>Who did you look up to growing up?</h1>
    <h2></h2>
    <br>
    <br>
    <h1>Favorite actress/actor and why?</h1>
    <h2> My favorite actor is Harry (yes he was in a movie)</h2>
    <br>
    <br>
    <h1>Favorite music genre?</h1>
    <h2> Pop</h2>
    <br>
    <br>
    <h1>Favorite cultural activity?</h1>
    <h2></h2>
    <br>
    
  </body>
  
</html>